<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432374872432-vfk96hem7bklctj6b5jfnk19srslu96t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432374872432-vfk96hem7bklctj6b5jfnk19srslu96t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>432374872432-01ef7kephlg6ovr7u89vj3o8esl3kpp1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBviWTkf4ncnwL4RwcB_slziTTk11iE740</string>
	<key>GCM_SENDER_ID</key>
	<string>432374872432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abid.chattyChat01</string>
	<key>PROJECT_ID</key>
	<string>chatty-8ee2b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-8ee2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432374872432:ios:3ecace42bc671131f9b7b5</string>
</dict>
</plist>